{% extends "frontend/base.html" %}

{% block content %}

			<!-- PAGE HEADER -->
		<div id="post-header" class="page-header">

			<div class="page-header-bg" style="background-image: {% if obj.image %} url('{{obj.image.url}}') {% endif %};" data-stellar-background-ratio="0.5"></div>

			<div class="container">
				<div class="row">
					<div class="col-md-10">
						<div class="post-category"><!--
							<a href="category.html">Lifestyle</a>-->
						</div>
						<h3 class="post-title"><a href="{{obj.post_detail_url}}">{{obj.title | truncatechars:200}}</a></h3>
						<ul class="post-meta">
							<li><a href="{% url 'author' %}">{{obj.user.get_full_name}}</a></li>
							<li>{{ obj.publish }}</li>
							<li><i class="fa fa-comments"></i> 3</li>
							<li><i class="fa fa-eye"></i> 807</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /PAGE HEADER -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-8">
					<!-- row -->
					<div class="row">
						<div class="col-md-12">
							<div class="section-title">
								<h2 class="title">Recent posts</h2>
							</div>
						</div>

						{% for recent in recent %}
						 <!--post-->
						<div class="col-md-6">
							<div class="post">
								<a class="post-img" href="{{ recent.post_detail_url }}"><img src="{{ recent.image.url }}" height="120px" width="80px" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{{recent.post_detail_url}}">Travel</a>
									</div>
									<h3 class="post-title"><a href="{{recent.post_detail_url}}">{{recent.title | truncatechars:20}}</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">{{recent.user.get_full_name}}</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						 <!--/post-->
						<!--<div class="clearfix visible-md visible-lg"></div>-->
						{% endfor %}

					</div>
					<!-- /row -->

					<!-- row -->
					<div class="row">
						<div class="col-md-12">
							<div class="section-title">
								<h2 class="title">Older Post</h2>
							</div>
						</div>
						<!-- post -->
						{% for old_post in old_post %}
						<div class="col-md-4">
							<div class="post post-sm">
								<a class="post-img" href="{{old_post.post_detail_url}}"> {% if old_post.image %}<img src="{{ old_post.image.url }}" height="100px" width="80px" alt=""> {% endif %}</a>
								<div class="post-body">
									<div class="post-category">
										<a href="{{old_post.post_detail_url}}">Technology</a>
									</div>
									<h3 class="post-title"><a href="{{old_post.post_detail_url}}">{{old_post.title | truncatechars:20}}</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">{{old_post.user.get_full_name}}</a></li>
										<li>{{ old_post.publish }}</li>
									</ul>
								</div>
							</div>
						</div>
						{% endfor %}
						<!-- /post -->
					</div>
					<!-- /row -->

				</div>
				<div class="col-md-4">
					<!-- ad widget
					<div class="aside-widget text-center">
						<a href="#" style="display: inline-block;margin: auto;">
							<img class="img-responsive" src="./img/ad-3.jpg" alt="">
						</a>
					</div>
					 /ad widget
-->
					<!-- social widget -->
					<div class="aside-widget">
						<div class="section-title">
							<h2 class="title">Social Media</h2>
						</div>
						<div class="social-widget">
							<ul>
								<li>
									<a href="https://www.facebook.com/rakibprince33" class="social-facebook">
										<i class="fa fa-facebook"></i>
										<span>21.2K<br>Followers</span>
									</a>
								</li>
								<li>
									<a href="https://twitter.com/t_rakibul" class="social-twitter">
										<i class="fa fa-twitter"></i>
										<span>10.2K<br>Followers</span>
									</a>
								</li>
								<li>
									<a href="https://www.linkedin.com/in/rakibprince33/" class="social-pinterest">
										<i class="fa fa-linkedin-square"></i>
										<span>5K<br>Followers</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- /social widget -->


					<!-- newsletter widget -->
					<div class="aside-widget">
						<div class="section-title">
							<h2 class="title">Newsletter</h2>
						</div>
						<div class="newsletter-widget">
							<form>
								<p>Learn something new every week. Subscribe Now!</p>
								<input class="input" name="newsletter" placeholder="Enter Your Email">
								<button class="primary-button">Subscribe</button>
							</form>
						</div>
					</div>
					<!-- /newsletter widget -->

				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- ad -->
				<div class="col-md-12 section-row text-center">
					<a href="#" style="display: inline-block;margin: auto;">
						<img class="img-responsive" src="./img/ad-2.jpg" alt="">
					</a>
				</div>
				<!-- /ad -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- SECTION -->

	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->

			<!-- /row -->

			<!-- row -->
			<div class="row">

				<!--#################################################-->
				<!-- row
					<div class="row">
						<div class="col-md-12">
							<div class="section-title">
								<h2 class="title">Recent posts</h2>
							</div>
						</div>

						{% for b_post in instance %}
						 post
						<div class="col-md-3">
							<div class="post">
								<a class="post-img" href="{{b_post.post_detail_url}}"> {% if b_post.image %}<img src="{{ b_post.image.url }}" alt=""> {% endif %}</a>
								<div class="post-body">
									<div class="post-category">
										<a href="{{b_post.post_detail_url}}">Travel</a>
									</div>
									<h3 class="post-title"><a href="{{b_post.post_detail_url}}">{{b_post.title}}</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">{{b_post.user.get_full_name}}</a></li>
										<li>{{ b_post.publish }}</li>
									</ul>
								</div>
							</div>
						</div>
						 /post
						<div class="clearfix visible-md visible-lg"></div>
						{% endfor %}

					</div>
					 /row -->
					<!-- row -->
					<div class="row">
						<div class="col-md-12">
							<div class="section-title">
								<h2 class="title">All Post</h2>
							</div>
						</div>
						<!-- post -->
						{% for b_post in instance %}
						<div class="col-md-4">
							<div class="post post-sm">
								<a class="post-img" href="{{b_post.post_detail_url}}"> {% if b_post.image %}<img src="{{ b_post.image.url }}" height="150px" width="200px" alt=""> {% endif %}</a>
								<!--,width='30%' height='30%'-->
								<div class="post-body">
									<div class="post-category">
										<a href="{{b_post.post_detail_url}}">Travel</a>
									</div>
									<h3 class="post-title"><a href="{{b_post.post_detail_url}}">{{b_post.title | truncatechars:20}}</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">{{b_post.user.get_full_name}}</a></li>
										<li>{{ b_post.publish }}</li>
									</ul>
								</div>
							</div>
						</div>
						{% endfor %}
						<!-- /post -->

					</div>
					<!-- /row -->

				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<!--<div class="row">
				<div class="col-md-8">
					&lt;!&ndash; post &ndash;&gt;

					<div class="section-row loadmore text-center">
						<a href="#" class="primary-button">Load More</a>
					</div>

				</div>
				<div class="col-md-4">
					&lt;!&ndash; galery widget &ndash;&gt;

					&lt;!&ndash; /galery widget &ndash;&gt;
&lt;!&ndash;
					 Ad widget
					<div class="aside-widget text-center">
						<a href="#" style="display: inline-block;margin: auto;">
							<img class="img-responsive" src="./img/ad-1.jpg" alt="">
						</a>
					</div>
					 /Ad widget
					&ndash;&gt;
				</div>
			</div>-->
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

{% endblock %}