Django==2.1.6
django-markdown-deux==1.0.5
django-pagedown==1.0.6
markdown2==2.3.7
Pillow==5.4.1
gunicorn==19.9.0
pytz==2018.9
cmake==3.13.3
dlib==19.16.0
face-recognition==1.2.3
face-recognition-models==0.3.0

